<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </uses-permission>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/actionbar_title"
        android:icon="@mipmap/ic_launcher2"
        android:name="com.mightyworksinc.androidapp.mightyvolume.MightyworksAnalyticsApplication"
        android:allowBackup="true"
        android:logo="@drawable/logo">
        <activity
            android:name="com.mightyworksinc.androidapp.mightyvolume.TabMainActivity"
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/actionbar_sub_title"
            android:name="com.mightyworksinc.androidapp.mightyvolume.FAQ"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mightyworksinc.androidapp.mightyvolume.TabMainActivity"/>
        <activity android:label="@string/actionbar_sub_title"
            android:name="com.mightyworksinc.androidapp.mightyvolume.About"
            android:screenOrientation="portrait" android:parentActivityName="com.mightyworksinc.androidapp.mightyvolume.TabMainActivity"/>
        <activity android:label="@string/actionbar_title" android:name="com.mightyworksinc.androidapp.mightyvolume.Version" android:screenOrientation="portrait" android:parentActivityName="com.mightyworksinc.androidapp.mightyvolume.TabMainActivity"/>
        <service android:name="com.mightyworksinc.androidapp.mightyvolume.MightyService" android:enabled="true">
            <intent-filter>
                <action android:name="com.mightyworksinc.androidapp.mightyvolume.MightyService"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.mightyworksinc.androidapp.mightyvolume.StartupIntentReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.mightyworksinc.androidapp.mightyvolume.BlueToothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.mightyworksinc.androidapp.mightyvolume.RunStartListner"/>
        <receiver android:name="com.mightyworksinc.androidapp.mightyvolume.RunStopListner"/>
        <receiver android:name="com.mightyworksinc.androidapp.mightyvolume.PhonecallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>\10;\10
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
